body {
    height: 100vh;
    background: linear-gradient(
        140deg,
        #4424b5,
        #752c77
    );
}

.container {
    width: 45%;
    min-width: 500px;
    background-color: #ffffff;
    position: absolute;
    padding: 40px 30px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
}
.score-area {
	margin-bottom: 500px;
	text-align: left;
}

.controls {
    margin-bottom: 50px;
    text-align: right;
}

