body {
    height: 100vh;
    background-color: #4424b5;
}

.container {
    width: 60%;
    min-width: 500px;
    background-color: #ffffff;
    position: absolute;
    padding: 40px 30px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
}
.score-area {
	margin-bottom: 500px;
	text-align: left;
}

.controls-area {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: right;
    display: flex;
    justify-content: space-around;
}

.controls-area button {
	background-color: #4424b5;
    color: #000000;
    border: none;
    font-size: 50px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.controls-area button:hover{
    background-color: #000000;
    color: #ffffff;
}

.details {
    margin-top: 30px;
    text-align: center;
}
.results .details {
	font-family: ITC Avant Garde Gothic,san-serif;
    font-weight: 400;
    font-size: 15px;
}